/* Variables */

:root {
  --white: #ffffff;
  --green: #428A60;
  --black: #212121;
  --lite-gray: #F8F8F8;
  --shadow-gray: #F4F4F4;
  --border-gray: #E4E4E4;
  --black-lite: #4d4d4d;
}

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black);
}

/* Form */

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  background: var(--border-gray);
}

.main-contaner {
  max-width: 1120px;
  padding: 75px 80px;
  display: flex;
}

/***   LOGO   ***/

.logo {
  width: 560px;
  outline: 2px solid #ff00b3;
  background: linear-gradient(180deg, #428A60 0%, #35734F 100%);
  box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  display: flex;
  flex-direction: column;
}

.logo h3,
.logo p {
  margin: 0;
  padding: 15px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: var(--white);
  z-index: 1;
  outline: 2px solid #ff00b3;
}

.logo h3 {
  text-transform: none;
}

.logo p {
  vertical-align: bottom;
}

.logo img {
  padding-left: 30px;
  position: absolute;
  outline: 2px solid #ff00b3;
}

/***   ORDERER INFO   ***/

.orderer-information {
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  background: var(--white);
}

.orderer-information h1 {
  width: 320px;
  margin: 0;
  padding: 29px 128px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 800;
  text-align: center;
  text-transform: none;
  background: var(--lite-gray);
  border-top-right-radius: 30px;
}

.orderer-info {
  width: 320px;
  margin: 0;
  padding: 52px 117px;
  display: flex;
  flex-wrap: wrap;
}

.orderer-info b {
  color: var(--green);
}

.orderer-info-name {
  width: 320px;
  margin: 0;
  padding-bottom: 20px;
  display: grid;
}

.orderer-info-phone {
  margin: 0;
  padding-bottom: 38px;
  display: grid;
}

.orderer-info label {
  padding-bottom: 11px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.orderer-info input {
  height: 50px;
  padding: 16px 20px;
  background: var(--lite-gray);
  border: 1px solid var(--border-gray);
  box-sizing: border-box;
  border-radius: 5px;
}

.orderer-info-phone input {
  width: 184px;
}

.language {
  width: 116px;
  height: 50px;
  margin-top: 26px;
  margin-left: 20px;
  padding: 16px;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  background: var(--lite-gray);
  border: 1px solid var(--border-gray);
  box-sizing: border-box;
  border-radius: 5px;
}

.button {
  width: 320px;
  margin-bottom: 8px;
  padding: 12px 20px;
  text-align: center;
  color: var(--white);
  background: var(--green);
  border: 1px solid var(--green);
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.icon-next {
  padding-left: 12px;
}

.footer-mobil {
  visibility: hidden;
  position: absolute;
}

/* Form adaptation */

@media (max-width: 320px) {

}
