/* Variables */

:root {
  --white: #ffffff;
  --green: #428A60;
  --black: #212121;
  --lite-gray: #F8F8F8;
  --shadow-gray: #F4F4F4;
  --border-gray: #E4E4E4;
  --black-lite: #4d4d4d;
}

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black);
}

.wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background: var(--border-gray);
  outline: 2px solid #0004ff;
}

/* Form */

.main-conteiner {
  padding: 50px 0;
  background: var(--white);
}

.form-order {
  flex-wrap: wrap;

}

/***   LOGO   ***/

.logo {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: none;
}

.logo h3,
.logo p {
  color: var(--black);
}

.logo h3 {
  padding-left: 10px;
  text-transform: none;
}

.logo p {
  padding-right: 10px;
}

.logo img {
  width: 80%;
  padding-left: 40px;
}

/***   ORDERER INFO   ***/

.orderer-information {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.orderer-information h2 {
  margin: 0 auto;
  padding: 15px 10px;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  text-transform: none;
  background: none;
}

.orderer-info {
  margin: 0;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
}

.orderer-info b {
  color: var(--green);
}

.orderer-info-name {
  width: 300px;
  margin: 0;
  padding-bottom: 15px;
  display: grid;
}

.orderer-info-phone {
  margin: 0;
  padding-bottom: 15px;
  display: grid;
}

.orderer-info label {
  padding-bottom: 5px;
  font-size: 12px;
  line-height: 16px;
}

.orderer-info input {
  padding: 5px;
  background: var(--lite-gray);
  border: 1px solid var(--border-gray);
  box-sizing: border-box;
  border-radius: 5px;
}

.language {
  min-width: 100px;
  height: 28px;
  margin-top: 21px;
  margin-left: 15px;
  padding: 5px;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  background: var(--lite-gray);
  border: 1px solid var(--border-gray);
  box-sizing: border-box;
  border-radius: 5px;
}

.button {
  width: 300px;
  margin-top: 10px;
  padding: 10px 15px;
  text-align: center;
  color: var(--white);
  background: var(--green);
  border: 1px solid var(--green);
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  visibility:visible;
  position: relative;
  text-transform: none;
  display: flex;
  justify-content: center;
  background: var(--lite-gray);


}


